/* ================= root ================= */

:root {
    --neutral-300: #383333;
    --neutral-500: #4a4a4a;
    --neutral-600: #9f9f9f;
    --neutral-700: #dcdcdc;
    --neutral-800: #cdcdcd;
    --neutral-900: #f1f1f1;
}

body {
    font-family: "Pretendard", sans-serif !important;
    font-style: normal;
}

.container-main {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

hr {
    opacity: 1;
}

/* ================= //root ================= */

/* ================= banner ================= */

.banner {
    background-image: url("https://archivemotion.com/wp-content/uploads/2024/06/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 640px;
    width: 100%;
}

/* ================= //banner ================= */

/* ================= navbar ================= */

.navbar-box {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.navbar-logo {
    width: 26px;
    height: 24px;
}

.header-btn {
    background-image: linear-gradient(121.79deg, #ffffff 0%, var(--neutral-700) 95%);
    border-radius: 24px;
    padding: 5px 14px;
    text-decoration: none;
    color: var(--neutral-300);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 1px solid transparent;
    margin-left: 0;
    white-space: nowrap;
}

.nav-item-custom {
    padding-left: 0;
    padding-right: 0;
    white-space: nowrap;
}

.nav-item-custom:first-child {
    padding-left: 0;
}

.nav-item-custom:last-child {
    padding-right: 0;
}

.nav-link-custom {
    color: #000000 !important;
}

.banner .center {
    position: relative;
    top: 25%;
    text-align: center;
}

.banner .center-1 {
    text-align: center;
    opacity: 0;
    transition: 0.8s;
    animation: fadeIn 0.8s ease-in both;
}

.banner .center-2 {
    opacity: 0;
    transition: 0.8s 0.1s;
    animation: fadeIn 1.2s ease-in both;
}

.banner .center-3 {
    opacity: 0;
    transition: 0.8s 0.2s;
    animation: fadeIn 1.6s ease-in both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, 40%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.banner .navbar-toggler:focus {
    box-shadow: none;
}

.banner .navbar {
    border: 1px solid transparent;
    border-bottom-color: var(--neutral-500);
}

/* ================= //navbar ================= */

/* ================= sologan ================= */

.sologan-text-normal {
    font-size: 30px;
    font-weight: 400;
}

.sologan-text-bold {
    font-size: 30px;
    font-weight: 700;
}

.sologan-btn {
    background-image: linear-gradient(109.2deg, #ffffff 0%, var(--neutral-700) 95%);
    border-radius: 24px;
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
    line-height: normal;
}

/* ================= //sologan ================= */

/* ================= sourcing ================= */

.sourcing {
    margin-top: 64px;
}

.sourcing-title {
    font-size: 12px;
    font-weight: bold;
}

.sourcing-title-sub {
    font-size: 30px;
    font-weight: normal;
    line-height: normal;
}

.sourcing-title-des {
    font-size: 14px;
    font-weight: normal;
}

.sourcing-des {
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;
}

.sourcing-count {
    margin-top: 80px;
}

.sourcing-count-box {
    padding-bottom: 32px;
}

.sourcing-counting {
    padding: 40px;
    padding-bottom: 14px;
    gap: 64px;
}

.sourcing-counting-item {
    font-size: 56px;
    font-weight: bold;
}

.sourcing-counting-sub {
    font-size: 20px;
    font-weight: normal;
}

.sourcing-counting-title {
    font-size: 14px;
    font-weight: normal;
}

.sourcing-counting-year {
    font-size: 12px;
    font-weight: normal;
}

.sourcing-splide-title {
    font-size: 16px;
    font-weight: bold;
}

.sourcing-splide-sub {
    font-size: 13px;
    font-weight: 600;
    color: var(--neutral-600);
}

.sourcing-splide-hr {
    color: var(--neutral-800) !important;
    width: 7px !important;
}

.sourcing-card {
    height: 152px;
    border: 1px solid var(--neutral-900);
    box-shadow: 0 0 10px var(--neutral-800);
    padding: 1rem;
    border-radius: 10px;
    background: #ffffff;
}

@keyframes scaleAnimation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.8);
    }
}

#splide-count .splide__slide.is-active.is-visible .sourcing-card {
    filter: opacity(0.4);
    background-color: #F1F1F1;
    transform: scale(0.8);
    margin-right: -6.25rem !important;
    animation: scaleAnimation 0.3s ease forwards;
}

#splide-count .splide__slide.splide__slide--clone.is-prev {
    visibility: hidden;
}

#splide-count .splide__slide.is-prev {
    visibility: hidden;
}

#splide-count .splide__track {
    padding: 20px 0;
    margin-left: -16px;
}

.flag {
    width: 36px;
    height: 24px;
}

/* ================= //sourcing ================= */

/* ================= develop ================= */

.develop {
    background-image: url("https://archivemotion.com/wp-content/uploads/2024/06/develop.png");
    height: auto;
    padding: 64px 0;
    padding-left: 20px !important;
    margin-top: 80px;
}

.develop-title-top {
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1.8;
}

.develop-title-center {
    font-size: 32px;
    font-weight: bold;
}

.develop-title-sub {
    font-size: 12px;
    font-weight: normal;
    margin-top: 17px;
}

.develop-hr {
    margin-top: 20px;
    margin-bottom: 59px;
    border: 2px solid #ffffff;
}

.develop-box {
    margin-left: 0;
}

.develop-img {
    height: 271px;
    width: auto;
}

.develop-slick img {
    height: 276px;
}

/* ================= //develop ================= */

/* ================= global ================= */

.global {
    background-image: url("https://archivemotion.com/wp-content/uploads/2024/06/global.png");
    height: 480px;
    padding: 64px 0;
    margin-top: 80px;
}

.global-title-top {
    font-size: 12px;
    font-weight: bold;
}

.global-title-center {
    font-size: 32px;
    font-weight: bold;
    line-height: normal;
}

.global-box {
    margin-top: -160px;
    margin-left: 20px;
}

.global-item-title {
    font-size: 20px;
}

.global-item-sub {
    font-size: 16px;
}

#global-splide .splide__pagination {
    bottom: -30px;
    background: #E9E9E9;
    padding: 0 0;
    overflow: hidden;
}

#global-splide .splide__pagination li {
    width: calc(100% / 4);
    line-height: 0;
}

#global-splide .splide__pagination__page {
    width: 100%;
    height: 6px;
    border-radius: 0;
    margin: 0;
}

#global-splide .splide__pagination__page.is-active {
    transform: scale(1);
    background: #000000;
}

/* ================= //global ================= */

/* ================= apparel ================= */

.apparel {
    margin-top: 80px;
}

.apparel-title {
    font-size: 12px;
    margin-bottom: 12px;
}

.apparel-title-sub {
    font-size: 30px;
    line-height: normal;
}

.apparel-title-des {
    font-size: 14px;
}

.apparel-box {
    margin-top: 40px;
    height: auto;
}

.apparel .card {
    width: 100%;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    transition: 0.8s;
    border-radius: unset;
    border: none;
    display: flex;
    justify-content: end;
    height: 40px;
    filter: grayscale(100%) brightness(50%);
    -webkit-filter: grayscale(100%) brightness(50%);
    -moz-filter: grayscale(100%) brightness(50%);
    -ms-filter: grayscale(100%) brightness(50%);
    -o-filter: grayscale(100%) brightness(50%);
}

.apparel .card>.card__row:before {
    content: "";
    position: absolute;
    left: 46px;
    bottom: calc((40px / 2) - (18px / 2));
    transform: rotate(-90deg);
    transform-origin: left bottom;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-wrap: nowrap;
    text-transform: uppercase;
}

.apparel .card[for="c1"]>.card__row:before {
    content: "01 \00A0\00A0 CUSTOMIZED";
}

.apparel .card[for="c2"]>.card__row:before {
    content: "02 \00A0\00A0 SAMPLING";
}

.apparel .card[for="c3"]>.card__row:before {
    content: "03 \00A0\00A0 PATTERN";
}

.apparel .card[for="c4"]>.card__row:before {
    content: "04 \00A0\00A0 GRADING";
}

.apparel .card[for="c5"]>.card__row:before {
    content: "05 \00A0\00A0 PRODUCTION";
}

.apparel .card:hover {
    width: 100%;
    height: 208px;
    filter: unset;
    -webkit-filter: unset;
    -moz-filter: unset;
    -ms-filter: unset;
    -o-filter: unset;
}

.apparel .card[for="c1"] {
    background-image: url("https://archivemotion.com/wp-content/uploads/2024/06/apparel-1.png");
}

.apparel .card[for="c2"] {
    margin-top: auto;
    background-image: url("https://archivemotion.com/wp-content/uploads/2024/06/apparel-2.png");
    background-position: center;
}

.apparel .card[for="c3"] {
    background-image: url("https://archivemotion.com/wp-content/uploads/2024/06/apparel-3.png");
    background-position: center;
}

.apparel .card[for="c4"] {
    margin-top: auto;
    background-image: url("https://archivemotion.com/wp-content/uploads/2024/06/apparel-4.png");
    background-position: center;
}

.apparel .card[for="c5"] {
    background-image: url("https://archivemotion.com/wp-content/uploads/2024/06/apparel-5.png");
    background-position: center;
}

/* ================= //apparel ================= */

/* ================= interview ================= */
.interview {
    margin-top: 80px;
}

.interview-title {
    font-size: 12px;
    color: #000000;
    margin-bottom: 12px;
}

.interview-title-sub {
    font-size: 32px;
    line-height: normal;
}

.interview-quote {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 18px;
    height: 15px;
}

.interview-content {
    font-size: 12px;
}

.interview-action {
    font-size: 11px;
}

.interview-zone {
    margin-top: 8px;
}

.interview-box {
    margin-top: 0;
    margin-bottom: 0;
}

.interview-grid {
    display: grid;
    grid-column-gap: 12px;
    grid-row-gap: 32px;
    grid-template-columns: 28% 0;
    grid-template-areas:
        "interview-1 interview-1 interview-1"
        "interview-2 interview-2 interview-2"
        "interview-3 interview-3 interview-3"
        "interview-4 interview-4 interview-4";
}

.interview-grid .interview-2 {
    grid-area: interview-2;
}

.interview-grid .interview-3 {
    grid-area: interview-3;
}

.interview-grid .interview-1 {
    grid-area: interview-1;
}

.interview-grid .interview-4 {
    grid-area: interview-4;
}

.interview-grid .interview-5 {
    grid-area: interview-5;
    /* height: 50px; */
}

.interview-grid .interview-1-image {
    background-image: url("../images/interview-1.svg");
}

.interview-des-3 {
    position: static;
    width: 100%;
}

.interview-des-3>img {
    position: absolute;
    right: 12px;
    top: 0;
}

.interview-des-1 {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
}

.interview-des-1>img {
    position: absolute;
    right: 0;
    top: -78px;
}

.interview-banner-3 {
    width: 100%;
    height: 100%;
    object-position: bottom;
}

.interview-logo {
    width: 40px;
    height: 40px;
}

.interview-des-4 {
    padding-left: auto !important;
}

.interview-des-4>img {
    position: absolute;
    right: 6px;
}

.interview-des-1>img {
    position: absolute;
    right: 12px;
}

.interview-img-logo-lg {
    margin-right: -6px;
}

/* ================= //interview ================= */

/* ================= clients ================= */

.clients {
    margin-top: 80px;
}

.clients-title {
    font-size: 12px;
    color: #000000;
    margin-bottom: 16px;
}

.clients-box {
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

.clients-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    align-items: center;
    gap: 22px;
}

.clients-items img {
    height: 38px;
    width: auto;
}

/* ================= //clients ================= */

/* ================= partners ================= */

.partners {
    margin-top: 40px;
    margin-bottom: 16px;
}

.partners-title {
    font-size: 12px;
    color: #000000;
    margin-bottom: 16px;
}

.partners-box {
    padding-top: 16px;
    border-top: 2px solid #000000;
}

.partners-sub {
    font-size: 12px;
    color: #000000;
}

.partners-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    width: calc(100% / 2);
}

.partners-items img {
    height: 38px;
    width: auto;
}

.partners-items img {
    height: 38px;
    width: auto;
}

/* ================= faq ================= */

.faq {
    padding-top: 64px;
    padding-bottom: 64px;
}

.faq-sub {
    font-size: 16px;
}

.faq-title {
    font-size: 32px;
    margin-bottom: 32px;
    font-weight: bold;
}

.faq-a {
    font-size: 16px;
    font-weight: normal;
}

.faq .accordion-button::after,
.faq .accordion-button:not(.collapsed)::after {
    background-image: url("https://archivemotion.com/wp-content/uploads/2024/06/arrow-down.png");
}

.faq .accordion .accordion-item .accordion-header .accordion-button:focus {
    border: none;
    box-shadow: none;
}

.faq .accordion .accordion-item .accordion-header .accordion-button,
.faq .accordion .accordion-item .accordion-collapse .accordion-body {
    background-color: black;
    color: white;
    border: none;
    box-shadow: none;
}

.faq .accordion-flush .accordion-item:first-child {
    border-top: 1px solid var(--neutral-600) !important;
}

.faq .accordion-flush .accordion-item:last-child {
    border-bottom: 1px solid var(--neutral-600) !important;
}

/* ================= //faq ================= */

/* ================= fabric ================= */

.fabric {
    margin-top: 40px;
    margin-bottom: 80px;
}

.fabric-item {
    width: 50%;
    height: 160px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 16px;
    border-color: #000000;
    border-style: solid;
    border-left: 1px;
    border-right: 1px;
    border-width: 1px;
    position: relative;
}

.fabric-item-title {
    position: relative;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    z-index: 6;
}

.fabric-item-hover {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(10px);
    opacity: 0;
    transition-property: opacity, filter;
    transition-duration: 0.26s;
}

.fabric-item-hover img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fabric-item:hover .fabric-item-hover {
    filter: blur(0);
    opacity: 1;
    z-index: 5;
}

.fabric-item:hover .fabric-item-title {
    color: #ffffff;
}

.fabric-title {
    font-size: 12px;
}

.fabric-title-des {
    font-size: 28px;
}

.fabric-title-sub {
    font-size: 14px;
    font-weight: normal;
}

/* ================= //fabric ================= */

/* ================= contact-form ================= */

.contact-form {
    background-image: url("https://archivemotion.com/wp-content/uploads/2024/06/bg-contact.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    padding-top: 64px;
    padding-bottom: 64px;
}

.contact-form-title {
    font-size: 32px;
}

.contact-label {
    font-size: 14px;
    margin: 0;
}

.contact-form input {
    border-radius: 24px;
    border: 1px solid #636363;
    background-color: #1f1f1f;
}

.contact-form .form-control {
    margin: 4px 0;
    padding: 8px 16px;
}

.contact-form .form-control:focus {
    border: 1px solid #636363;
    background-color: #1f1f1f;
    color: white;
    box-shadow: none;
}

.contact-form .btn-dark {
    color: white;
    background-color: rgb(0, 0, 0, 0);
    font-weight: bold;
    border-radius: 24px;
    border: 1px solid #636363;
    text-wrap: nowrap;
}

.contact-form .btn-light {
    color: black;
    background-color: white;
    font-weight: bold;
    border-radius: 24px;
    border: 1px solid #636363;
    padding: 0.75rem 3.5rem;
    text-wrap: nowrap;
}

/* ================= //contact-form ================= */

/* ================= footer ================= */

.footer {
    position: relative;
    padding-top: 37px;
    padding-bottom: 37px;
}

.footer-title-logo {
    font-size: 18px;
}

.footer-info {
    font-size: 12px;
    font-weight: normal;
}

.footer-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-link {
    color: #000000;
}

.footer-contact {
    position: absolute;
    right: 20px;
    top: -28px;
    width: 56px;
    height: 56px;
}

.footer-contact img {
    width: 56px;
    height: 56px;
}

.footer-contact img {
    width: 56px;
    height: 56px;
}

/* ================= //footer ================= */

/* ================= responsive ================= */

@media (min-width: 360px) {
    .clients-items {
        grid-template-columns: repeat(3, 1fr);
    }

    .partners-items {
        width: calc(100% / 3);
    }
}

@media (min-width: 576px) {
    .sourcing-card {
        height: 316px;
        width: auto;
        padding: 1.5rem;
    }

    #splide-count .splide__track {
        padding: 20px 0;
        margin-left: -38px;
    }

    .flag {
        width: auto;
        height: auto;
    }
}

@media (min-width: 768px) {
    .sourcing-counting-item {
        font-size: 62px;
    }

    .sourcing-counting-sub {
        font-size: 28px;
    }

    .sourcing-counting-title {
        font-size: 16px;
    }

    .sourcing-counting-year {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    /* root */

    .container-main {
        padding-left: 80px !important;
        padding-right: 80px !important;
    }

    /* //root */

    /* banner */

    .banner {
        height: 869px;
    }

    /* //banner */

    /* navbar */

    .nav-item-custom {
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav-link-custom {
        color: #ffffff !important;
    }

    .navbar-box {
        padding-left: 80px !important;
        padding-right: 80px !important;
    }

    .header-btn {
        margin-left: 38px;
        font-size: 16px;
        padding: 12px 18px;
    }

    .banner .navbar {
        border: 1px solid transparent;
        border-bottom-color: transparent;
    }

    .navbar-logo {
        width: 42px;
        height: 40px;
    }

    /* //navbar */

    /* sologan */

    .sologan-text-normal {
        font-size: 56px;
    }

    .sologan-text-bold {
        font-size: 56px;
    }

    .sologan-btn {
        margin-top: 0;
    }

    /* //sologan */

    /* sourcing */

    .sourcing {
        margin-top: 126px;
    }

    .sourcing-title {
        font-size: 24px;
        font-weight: bold;
    }

    .sourcing-title-sub {
        font-size: 56px;
        font-weight: normal;
    }

    .sourcing-title-des {
        font-size: 16px;
        font-weight: normal;
    }

    .sourcing-des {
        font-size: 24px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .sourcing-count {
        margin-top: 145px;
    }

    .sourcing-count-box {
        padding-bottom: 56px;
    }

    .sourcing-counting {
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .sourcing-counting-item {
        font-size: 72px;
    }

    .sourcing-counting-sub {
        font-size: 38px;
    }

    .sourcing-counting-title {
        font-size: 18px;
    }

    .sourcing-counting-year {
        font-size: 16px;
    }

    .sourcing-splide-title {
        font-size: 24px;
    }

    .sourcing-splide-sub {
        font-size: 18px;
    }

    .sourcing-splide-hr {
        width: 10px !important;
    }

    /* //sourcing */

    /* develop */

    .develop-title-top {
        font-size: 24px;
    }

    .develop-title-center {
        font-size: 56px;
    }

    .develop-title-sub {
        font-size: 16px;
    }

    .develop-hr {
        margin-top: 51px;
        margin-bottom: 0;
    }

    .develop-box {
        margin-left: 62px;
    }

    .develop {
        height: 905px;
        padding-top: 80px;
        padding-bottom: 227px;
        padding-left: 80px !important;
        margin-top: 167px;
    }

    .develop-img {
        height: 554px;
    }

    .develop-slick img {
        height: 554px;
    }

    /* //develop */

    /* fabric */

    .fabric-title {
        font-size: 24px;
    }

    .fabric-title-des {
        font-size: 56px;
    }

    .fabric-title-sub {
        font-size: 16px;
    }

    /* //fabric */

    /* fabric */

    .fabric {
        margin-top: 123px;
        margin-bottom: 180px;
    }

    .fabric-item {
        width: 383px;
        height: 383px;
        padding: 22px 24px;
    }

    .fabric-item-title {
        font-size: 40px;
    }

    /* //fabric */

    /* contact */

    .contact-form {
        padding-top: 134px;
        padding-bottom: 134px;
    }

    .contact-form-title {
        font-size: 56px;
    }

    .contact-label {
        font-size: 16px;
    }

    .contact-form .form-control {
        margin: 8px 0;
        padding: 12px 20px;
    }

    /* //contact */

    /* faq */

    .faq-title {
        font-size: 56px;
        margin-bottom: 64px;
    }

    .faq-sub {
        font-size: 24px;
    }

    .faq-a {
        font-size: 24px;
        font-weight: normal;
    }

    /* //faq */

    /* footer */

    .footer {
        padding-top: 53px;
        padding-bottom: 53px;
    }

    .footer-title-logo {
        font-size: 28px;
    }

    /* //footer */

    /* partners */

    .partners {
        margin-top: 120px;
        margin-bottom: 56px;
    }

    .partners-box {
        padding-top: 55px;
    }

    .partners-title {
        font-size: 24px;
    }

    .partners-sub {
        font-size: 20px;
    }

    .partners-sub {
        font-size: 20px;
    }

    /* //partners */

    /* clients */

    .clients {
        margin-top: 145px;
    }

    .clients-title {
        font-size: 24px;
    }

    .clients-box {
        padding-top: 36px;
        padding-bottom: 33px;
    }

    .clients-items {
        gap: 33px;
        grid-template-columns: repeat(3, 1fr);
    }

    .clients-items img {
        height: 56px;
        width: auto;
    }

    /* //clients */

    /* interview */
    .interview-grid {
        grid-column-gap: 76px;
        grid-row-gap: 57px;
        grid-template-columns: 28% 0;
        grid-template-areas:
            "interview-2 interview-1 interview-1"
            "interview-2 interview-3 interview-3"
            "interview-5 interview-3 interview-3"
            "interview-4 interview-4 interview-4";
    }

    .interview {
        margin-top: 224px;
    }

    .interview-title {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .interview-title-sub {
        font-size: 64px;
    }

    .interview-quote {
        width: 21px;
        height: 18px;
    }

    .interview-logo {
        width: 112px;
        height: 112px;
    }

    .interview-content {
        font-size: 20px;
    }

    .interview-zone {
        margin-top: 36px;
    }

    .interview-action {
        font-size: 14px;
    }

    .interview-des-3 {
        padding: 27px 48px 47px 0;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 112px;
        width: 50%;
    }

    .interview-des-3>img {
        left: 0;
        top: -84px;
    }

    .interview-box {
        margin-top: 16px;
        margin-bottom: 64px;
    }

    /* //interview */

    /* apparel */

    .apparel {
        margin-top: 187px;
    }

    .apparel-title {
        font-size: 24px;
        margin-bottom: 0;
    }

    .apparel-title-sub {
        font-size: 56px;
        line-height: normal;
    }

    .apparel-title-des {
        font-size: 16px;
    }

    .apparel-box {
        margin-top: 100px;
        height: 680px;
    }

    .apparel .card>.card__row:before {
        font-size: 38px;
        left: 60px;
        bottom: 2%;
    }

    .apparel .card:hover {
        width: 28%;
        height: 640px;
    }

    .apparel .card {
        width: 20%;
        height: 640px;
    }

    .apparel .card[for="c1"]>.card__row:before {
        content: "01 \00A0 CUSTOMIZED";
    }

    .apparel .card[for="c2"]>.card__row:before {
        content: "02 \00A0 SAMPLING";
    }

    .apparel .card[for="c3"]>.card__row:before {
        content: "03 \00A0 PATTERN";
    }

    .apparel .card[for="c4"]>.card__row:before {
        content: "04 \00A0 GRADING";
    }

    .apparel .card[for="c5"]>.card__row:before {
        content: "05 \00A0 PRODUCTION";
    }

    /* //apparel */

    /* global */

    .global {
        height: 900px;
        padding: 64px 0;
        margin-top: 167px;
    }

    .global-title-top {
        font-size: 24px;
    }

    .global-title-center {
        font-size: 64px;
    }

    .global-box {
        margin-top: -267px;
        margin-left: 80px;
    }

    /* //global */
}

@media (min-width: 1200px) {
    /* clients */

    .clients-items {
        gap: 33px;
        grid-template-columns: repeat(4, 1fr);
    }

    .clients-items img {
        height: 62px;
        width: auto;
    }

    /* //clients */

    /* partners */

    .partners-items {
        width: calc(100% / 4);
    }

    .partners-items img {
        height: 64px;
        width: auto;
    }

    .interview-des-4 {
        padding-left: 36px !important;
    }

    .interview-des-4>img {
        position: static;
        right: 12px;
    }

    /* partners */
}

@media (min-width: 1400px) {
    /* clients */

    .clients-items {
        grid-template-columns: repeat(5, 1fr);
    }

    .clients-items img {
        height: auto;
        width: auto;
    }

    /* //clients */

    /* partners */

    .partners-items {
        gap: 24px;
        width: calc(100% / 5);
    }

    .partners-items img {
        height: auto;
        width: auto;
    }

    /* partners */

    /* sourcing */

    .sourcing-counting-item {
        font-size: 96px;
    }

    .sourcing-counting-sub {
        font-size: 48px;
    }

    .sourcing-counting-title {
        font-size: 24px;
    }

    /* sourcing */
}

/* ================= //responsive ================= */

/* ================= js slide in ================= */

.js-slidein {
    opacity: 0;
    transform: translateY(100px);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.js-slidein-visible {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

/* ================= //js slide in ================= */